<style>
	
</style>

	<div>
		<form class="form">
				<div class="separator">
				<hr class="line">
				<h1>PAYMENT</h1>
				<hr class="line">
			</div>
        <div class="row">
            <div class="col-md-3"></div>

            <div class="card-info col-md-6 ">
                <div class="input_container">
                    <label class="input_label">Card holder name</label>
                    <input class="input_field" type="text" placeholder="Enter your full name">
                </div>
                <div class="input_container">
                    <label class="input_label">Card Number</label>
                    <input class="input_field" type="number" placeholder="0000 0000 0000 0000">
                </div>
                <div class="input_container">
                    <label class="input_label">Expiry Date / CVV</label>
                    <div class="split">
                        <input class="input_field" style="width: 250px;" type="text" placeholder="01/23">
                        <input class="input_field" style="width: 110px;" type="number" placeholder="CVV">
                    </div>
                </div> 
                <br />
                <button class="checkout col" style="cursor: pointer;">
                    <span>Checkout</span>
                </button>
            </div>
           
            <div class="col-md-3"></div>
            </div>
    </form>
</div>
			
	


