@model Order

<!-- Animated -->
<div class="d-flex justify-content-center align-items-center">
    <h1 class="col-12 p-5 text-center">Admin Page</h1>
</div>



<div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">@String.Format("{0:#,##0VND}", ViewBag.Revenue)</div>
                                <div class="stat-heading">Revenue</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@ViewBag.CountProduct</span></div>
                                <div class="stat-heading">Products</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@ViewBag.Sold</span></div>
                                <div class="stat-heading">Sold</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-wallet"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">@ViewBag.CountStock</span></div>
                                <div class="stat-heading">Stock</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- .animated -->
<div class="d-flex justify-content-center align-items-center">
    <h3 class="col-12 p-5 text-center">Member</h3>
</div>

<div class="d-flex justify-content-center align-items-center">
    <img class="rounded-circle shadow p-2 mb-5 bg-body rounded" src="~/images/members/4.png" />
    <img class="rounded-circle shadow p-2 mb-5 bg-body rounded" src="~/images/members/3.png" />
    <img class="rounded-circle shadow p-2 mb-5 bg-body rounded" src="~/images/members/1.png" />
    <img class="rounded-circle shadow p-2 mb-5 bg-body rounded" src="~/images/members/5.jpg" />
    <img class="rounded-circle shadow p-2 mb-5 bg-body rounded" src="~/images/members/2.png" />
</div>