<!doctype html>

<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MLD Admin</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="~/images/logo.png">
    <!-- Css -->
    <partial name="_CssPartial"></partial>
    <!-- Css -->
</head>

<body>
    <!-- Left Panel -->
    <partial name="_LeftPanelPartial"></partial>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <partial name="_HeaderPartial"></partial>
        <!-- /#header -->

        <!-- Content -->
        <div class="content">
           @RenderBody()
        </div>
        <!-- /.content -->

        @*Modal CRUD*@
        <div class="modal" tabindex="-1" role="dialog" id="form-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="margin:30px 0 0 -127px;width: 170%;">
                    <div class="modal-header" style="border-bottom: none; padding: 0px; ">
                        <h2 class="modal-title"></h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fa-solid fa-xmark" style="height:25px;width:25px; "></i></span>
                        </button>
                    </div>
                    <div class="modal-body" id="printThis">
                    </div>
                </div>
            </div>
        </div>
        @*Modal CRUD*@

        <div class="loaderbody" id="loaderbody">
            <div class="loader"></div>
        </div>

        <div class="clearfix"></div>

        <!-- Footer -->
        <partial name="_FooterPartial"></partial>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->

    <partial name="_JsPartial"></partial>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts",required:false)
</body>
</html>
