@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<header>
    <div class="h-50 d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column  align-items-center">
            <h1>@ViewData["Title"]</h1>

            <p> Please check your email to confirm your account.</p>
            <div>
                <a href="https://mail.google.com/mail/" class="btn clear-btn ">Go to you mail</a>
            </div>
        </div>
    </div>
</header>


