@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<header>
    <div class="h-50 d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column  align-items-center">
            <h1>@ViewData["Title"]</h1>

            <p> Your password has been reset.</p>
            <div>
                <a asp-page="./Login" class="btn clear-btn ">Go to login</a>
            </div>
        </div>
    </div>
</header>
