html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.pagination > li > a {
    background-color: white;
    color: #5A4181;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a {
    color: white;
    background-color: black !Important;
    border: solid 1px #5A4181 !Important;
}

    .pagination > .active > a:hover {
        background-color: dimgrey !Important;
        border: solid 1px #5A4181;
    }


/*Navigation */


.store-button {
    font-family: 'Cascadia Mono';
    color: #FFA01B;
    cursor: pointer;
    position: relative;
   font-size: 3.1vmin;
      margin-left: 5px;
      font-weight: bold;
}
    
    .store-button:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: -10px;
        left: 1px;
        right: 1px;
        transform: scaleX(0);
       
        background: #f04e27;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .store-button:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
     
    }

.active {
    background-color: red;
    color: wheat;
}
.search-container {
margin-left: 17%;
}

