
section{
    font-family: Bahnschrift;
}
.ellipsis-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-text-name {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 210px;
}

.priceinput {
    display: flex;
}

.price-input-form {
    width: 100%;
    height: 37px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.brand-list {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.brand-list:hover{
    color: chocolate;
}


.icon-sort:hover {
    transform: scale(1.3);  
}

.img-hover {
    border-bottom: solid 2px orange;
}
.sort-by {
    border-radius: 3px;
    background-color: white;
    color: black;
    width: 100%;
    font-weight: normal;
    border: solid 2px #f04e27;
}
    .sort-by:hover {
        background-color: #f04e27;
        color: white;
    }
.price-sort {
    border-radius: 3px;
    padding: 3px 16px;
    background-color: white;
    color: black;
    width: 100%;
    font-weight: normal;
    border: solid 2px #f04e27;
}

    .price-sort:hover {
        background-color: #f04e27;
        color: white;
    }
.card-spkeaker {
    box-shadow: -1px 3px 9px 0px rgba(0, 0, 0, 0.35);
    
}
.card-price {
   color: #f04e27;
}
.side-navbar{
    position: fixed;
}
a{
    text-decoration: none;
}

.clear-btn {
    margin-top: 9px;
    border-radius: 3px;
    padding: 3px 16px;
    background-color: white;
    color: black;
    width: 100%;
    font-weight: 700;
    border: 2px solid red;
}
.clear-btn:hover {
    border-radius: 3px;
    padding: 3px 16px;
    background-color: red;
    color: white;
    width: 100%;
    font-weight: 700;
    border: 2px solid red;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}


.ratings {
    margin-right: 10px;
}

    .ratings i {
        color: #cecece;
        font-size: 32px;
    }

.rating-color {
    color: #fbc634 !important;
}

.review-count {
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 24px !important;
}

.small-ratings i {
    color: #cecece;
}

.review-stat {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 2px;
}

.btn-white {
    background-color: white;
}

.card-body-speaker{
   margin-bottom: 20px;
    
}
.card-spkeaker{
   
}

/*<!-- Breadcrumb -->*/
.b-crumb-contaier {
    padding: 11px 0px;
}

.bg-b--crumb {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.b-crumb-item {
    color: black;
    font-family: 'Malgun Gothic';
}

.detail-icon {
    font-size: 21px;
    font-weight: bold;
}

.is-active {
    color: #f04e27;
    font-weight: 700;
}

a:hover {
    color: #f04e27;
    font-weight: 700;
}



/*sort by*/
.btn-sort-by {
   
}
/* notification*/
.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    z-index: 9999;
}

.success {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}