.ellipsis-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 210px;
}

.priceinput {
    display: flex;
}

.price-input-form {
    width: 90px;
    margin-bottom: 10px;
}

.brand-list {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.icon-sort:hover {
    transform: scale(1.3);
}

.img-hover {
    border-bottom: solid 2px orange;
}
